@import 'shared';

.Landing {
  > .amna {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    > div {
      position: inherit;
      width: 100%;
      height: 100%;

      > canvas {
        position: inherit;
      }
    }
  }
  > .ml12 {
    font-weight: 200;
    font-size: 1.3em;
    color: rgb(243, 238, 189);
    text-transform: uppercase;
    letter-spacing: 0.5em;
    position: relative;
    top: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
    z-index: 100;
    display:block;
    white-space: pre-wrap;
    opacity: 0;
  
  }

  >.ml12quote {
    font-weight: 200;
    font-size: 1.3em;
    color: rgb(243, 238, 189);
    letter-spacing: 0.35em;
    word-spacing: 0.2em;
    position: relative;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 100;
    display:block;
    word-wrap: break-word;
    width: 60%;
    opacity: 0;
    white-space: pre-wrap;
  
  }

  > .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

  > .canvasWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    > div {
      position: inherit;
      width: 100%;
      height: 100%;

      > canvas {
        position: inherit;
      }
    }
  }
  > .hero {
    width: 100%;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    > .title {
      font-family: WorkSansSemiBold;
      margin: 0;
      width: 100%;
      padding-top: px(80);
      padding-bottom: px(24);
      letter-spacing: -1px;
      line-height: 1.15;
      font-size: px(48);
    }

    > .title,
    > .description {
      text-align: center;
    }

    > .row {
      max-width: px(800);
      margin: px(80) auto px(40);
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;

      > li {
        margin: px(10);

        .card {
          display: block;
          width: px(220);
          height: 100%;
          padding: px(18) px(18) px(24);
          border: 1px solid #9b9b9b;
          text-align: left;
          text-decoration: none;
          color: #434343;

          &:hover {
            border-color: #067df7;
          }

          > h3 {
            font-size: px(18);
          }

          > p {
            padding: px(12) 0 0;
            font-size: px(13);
            color: #333;
          }
        }
      }
    }
  }
}
