/* stylelint-disable */
@import 'shared';

:export {
  white: $white;
  black: $black;
  darkGray: $darkGray;
  layoutMobile: $layout-mobile;
  layoutTablet: $layout-tablet;
  layoutDesktopSm: $layout-desktopSm;
  layoutDesktopMd: $layout-desktopMd;
  layoutDesktopLg: $layout-desktopLg;
}
