@import '../../styles/shared.scss';

$yellow: #ffd849;

.Artwork {
  position: relative;
  font-weight: 600;

  .webgl {
    @include position-100(absolute);
  }

  .hidden {
    visibility: hidden;
  }

  .controlsContainer {
    position: absolute;
    bottom: px(5);
    left: px(5);
    @include box(90vw, px(300));
    opacity: 1;
    color: $white;
    border-radius: px(10);
    padding: px(10);
    background-color: rgba($color: $black, $alpha: 0.8);

    @include breakpoint(tablet) {
      @include box(px(500), px(200));
    }

    .title {
      margin-bottom: px(15);
    }

    .controls {
      display: flex;
      flex-wrap: wrap;
      gap: px(10);
      color: $black;
      font-size: px(12);
      text-align: center;
      justify-content: center;

      .button {
        cursor: pointer;
        @include box(px(60));
        border-radius: 50%;
        background: $yellow;

        display: flex;
        align-items: center;
      }

      .createMeshButton {
        background: $dark-grey;
      }

      .beadTypeButton {
        @include box(px(100), px(50));
        border-radius: px(10);
        background: $yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        select {
          background-color: $black;
          color: $white;
          border: none;
        }
      }

      .fileUpload {
        cursor: pointer;
        @include box(px(200), px(50));
        border: px(2) $white dotted;
        border-radius: px(10);

        background: $dark-grey;
        color: $white;
        display: flex;
        align-items: center;
      }
    }
  }

  .hideControls {
    cursor: pointer;
    position: absolute;
    bottom: px(10);
    left: px(10);
    font-size: px(15);
    color: white;
  }
}
