@import '../../styles/shared.scss';

.Artwork {
  position: relative;

  .webgl {
    @include position-100(absolute);
  }

  .controlsContainer {
    position: absolute;
    bottom: px(5);
    left: px(5);
    @include box(90vw, px(150));
    opacity: 0;
    color: $white;
    border: px(3) $white solid;
    border-radius: px(10);
    padding: px(10);

    @include breakpoint(tablet) {
      @include box(px(500), px(175));
    }

    .title {
      margin-bottom: px(15);
    }

    .controls {
      display: flex;
      gap: px(10);
      color: $black;
      font-size: px(12);
      text-align: center;
      justify-content: center;

      .button {
        cursor: pointer;
        @include box(px(50));
        border-radius: 50%;
        background: #000;
        display: flex;
        align-items: center;
      }

      .resetButton {
        background: #eac435;
      }

      .rotateToggleButton {
        background: #eac435;
      }

      .fileUpload {
        cursor: pointer;
        @include box(px(200), px(50));
        border: px(2) $white dotted;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        align-items: center;
      }
    }
  }
}
