@import 'shared';

.Landing {
  > .canvasWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    > div {
      position: inherit;
      width: 100%;
      height: 100%;
      > canvas {
        position: inherit;
      }
    }
  }
  > .hero {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;

    > .title {
      font-family: WorkSansSemiBold;
      margin: 0;
      width: 100%;
      padding-top: px(80);
      padding-bottom: px(24);
      letter-spacing: -1px;
      line-height: 1.15;
      font-size: px(48);
    }
    > .description {
      text-align: center;
    }

    > .row {
      max-width: px(800);
      margin: px(80) auto px(40);
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;

      > li {
        margin: px(10);
        .card {
          position: relative;
          display: block;
          width: px(220);
          height: px(220);
          //padding: px(18) px(18) px(24);
          border: 1px solid #9b9b9b;
          text-align: left;
          text-decoration: none;
          color: $white;

          &:hover {
            border-color: #067df7;
            color: violet;
          }

          > img {
            width: 100%;
            height: 100%;
          }

          > h3 {
            position: absolute;
            font-size: px(18);
            top: 20;
          }

          > p {
            padding: px(12) 0 0;
            font-size: px(13);
            //color: #333;
          }

          > h1 {
            top: 0;
          }
        }
      }
    }
  }
}
