@import 'shared';

.Footer {
  position: fixed;
  bottom: 0;
  //  background-color: $black;
  color: $white;
  padding: px(50) 0;
  width: 100%;

  ul {
    li {
      margin-top: px(15);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
